<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-car fa-2x"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Rover</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Rover 01</a>
            <a class="dropdown-item" href="#">Rover 02</a>
          </div>
        </li>
      </ul>

      <div class="d-flex">
        <a href="/user/logout" class="btn btn-secondary">Logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-between">
  <img class="figure-img img-fluid dashboard-img" src="img/my_car.svg" />
</div>
<div class="">
  <div class="d-grid gap-2">
    <button class="btn btn-primary" id="forward">forward</button>
    <div class="row">
      <div class="col d-grid gap-2">
        <button class="btn btn-primary" onclick="turnLeft()">left</button>
      </div>
      <div class="col d-grid gap-2">
        <button class="btn btn-primary" onclick="turnRight()">right</button>
      </div>
    </div>
    <button class="btn btn-primary" onclick="moveBackward()">backward</button>

    <button class="btn btn-light" onclick="toggleFlashlight()">
      flashlight
    </button>
    <input type="range" min="1" max="10" value="1" class="" id="speed" />
  </div>
  <!-- <div class="col">
    <h1 id="mpu"></h1>
  </div> -->
</div>
